<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aninnda's Adoption Center</title>
     <!-- this is the style for the time that is constantly being updated-->
     <style>
       
        header {
            font-size: 1.5em;
            text-align: center;
            padding: 10px;
        }
    </style>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        header {
            background-color: #4CAF50;
            color: white;
            padding: 20px;
            text-align: center;
        }
        header img {
            max-width: 100px;
        }
        .side-menu {
            width: 200px;
            background-color: #333;
            color: white;
            padding: 15px;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            overflow: auto;
        }
        .side-menu ul {
            list-style-type: none;
            padding: 0;
        }
        .side-menu ul li {
            margin: 10px 0;
        }
        .side-menu ul li a {
            text-decoration: none;
            color: white;
            display: block;
            padding: 10px;
            transition: background-color 0.3s ease;
        }
        .side-menu ul li a:hover {
            background-color: #575757;
        }
        .content-area {
            margin-left: 220px; /* width of the side menu + some spacing */
            padding: 20px;
            flex: 1;
        }
        footer {
            background-color: yellowgreen;
            color: white;
            padding: 10px;
            text-align: center;
            margin-top: auto;
        }
        @media (max-width: 768px) {
            .side-menu {
                width: 150px;
            }
            .content-area {
                margin-left: 170px;
            }
        }
        @media (max-width: 480px) {
            .side-menu {
                width: 100%;
                height: auto;
                position: relative;
            }
            .side-menu ul {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .content-area {
                margin-left: 0;
                padding: 10px;
            }
        }
        .content-area h2 {
            color: #4CAF50;
        }
        .content-area h3 {
            color: #333;
        }
        .content-area p, .content-area ul {
            color: #555;
            line-height: 1.6;
        }
        .content-area ul {
            padding-left: 20px;
        }
    </style>
</head>
<body>
    <header id="current-time"></header>
    
    <script>
        function updateTime() {
            const now = new Date();
            const options = { 
                year: 'numeric', 
                month: '2-digit', 
                day: '2-digit', 
                hour: '2-digit', 
                minute: '2-digit', 
                second: '2-digit', 
                hour12: false 
            };
            const formattedTime = now.toLocaleString('en-US', options);
            document.getElementById('current-time').textContent = formattedTime;
        }

        setInterval(updateTime, 1000);
        updateTime(); // Initial call to display time immediately
    </script>
    


    <%- include('header') %>




    <nav class="side-menu">
        <ul>
            <li><a href="/index">Home page</a></li>
           
            <li><a href="/find">Find a Dog/Cat</a></li>
            <li><a href="/dog-care">Dog Care</a></li>
            <li><a href="/cat-care">Cat Care</a></li>
            <li><a href="/giveaway">Have a Pet to Give Away</a></li>
            <li><a href="/createaccount">Create an Account</a></li> 
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>

    <!--https://www.aspca.org/pet-care/cat-care/general-cat-care-->
    <main class="content-area">
        <h2>Cat Care</h2>
        <p>Have you recently added a feline friend to your family? Congratulations! We know you’ll be thrilled to have your new cat in your home. If you are considering adopting a cat, please visit your local shelter. We encourage you to browse our directory of adoptable cats in your area, or use our shelter finder to start your search.</p>
        <p>Read on for useful tips for new cat parents, and for those looking to brush up on their pet care skills.</p>

        <h3>Basic Care</h3>

        <h4>Feeding</h4>
        <p>We recommend purchasing high-quality, brand-name kitten or cat food. Your veterinarian will be able to assess your new cat or kitten and determine the best diet. Factors such as age, activity level, and health make a difference in what and how much a cat should eat.</p>
        <p>Cats require taurine, an essential amino acid, for heart and eye health. The food you choose should be balanced for the life stage of your cat or kitten. Properly balanced foods will contain taurine.</p>
        <p>You will need to provide fresh, clean water at all times, and wash and refill your cat’s water bowls daily. Treats should be no more than 5-10% of the diet.</p>
        <p>Many people feed baby food to a cat or kitten who is refusing food or not feeling well. Please read labels carefully: If the baby food contains onion or garlic powder, your pet could be poisoned.</p>
        <p>Take your pet to your veterinarian if signs of anorexia, diarrhea, vomiting, or lethargy continue for more than two days.</p>
        
        <h4>Grooming</h4>
        <p>Most cats stay relatively clean and rarely need a bath, but you should brush or comb your cat regularly. Frequent brushing helps keep your cat's coat clean, reduces the amount of shedding, and cuts down on the incidence of hairballs. </p>

        <h4>Handling</h4>
        <p>To pick up your cat, place one hand behind the front legs and another under the hindquarters. Lift gently. Never pick up a cat by the scruff of the neck or by the front legs.</p>

        <h4>Housing</h4>
        <p>Your pet should have her own clean, dry place in your home to sleep and rest. Line your cat's bed with a soft, warm blanket or towel. Be sure to wash the bedding often. Please keep your cat indoors. Outdoor cats do not live as long as indoor cats. Outdoor cats are at risk of trauma from cars, or from fights with other cats, raccoons, and free-roaming dogs. Coyotes are known to eat cats. Outdoor cats are more likely to become infested with fleas or ticks, as well as contract infectious diseases.</p>

        <h4>Identification</h4>
        <p>If allowed outdoors, your cat must wear a safety collar and an ID tag. A safety collar with an elastic panel will allow your cat to break loose if the collar gets caught on something. And for both indoor and outdoor cats, an ID tag or an implanted microchip can help ensure that your cat is returned if he or she becomes lost.</p>

        <h4>Litter Box</h4>
        <p>All indoor cats need a litter box, which should be placed in a quiet, accessible location. In a multi-level home, one box per floor is recommended. Avoid moving the box unless absolutely necessary, but if you must do so, move the box just a few inches per day. Keep in mind that cats won't use a messy, smelly litter box, so scoop solid wastes out of the box at least once a day. Dump everything, wash with a mild detergent, and refill at least once a week; you can do this less frequently if using clumping litter. Don't use ammonia, deodorants, or scents, especially lemon, when cleaning the litter box. If your cat will not use a litter box, please consult with your veterinarian. Sometimes refusal to use a litter box is based on a medical condition that requires treatment. </p>

        <h4>Scratching</h4>
        <p>Cats need to scratch! When a cat scratches, the old outer nail sheath is pulled off and the sharp, smooth claws underneath are exposed. Cutting your cat’s nails every two to three weeks will keep them relatively blunt and less likely to harm the arms of both humans and furniture. Provide your cat with a sturdy scratching post, at least three feet high. The post should also be stable enough that it won't wobble during use, and should be covered with rough material such as sisal, burlap, or tree bark. Many cats also like scratching pads.</p>

        <h3>Health</h3>

        <h4>Medicines and Poisons</h4>
        <p>Never give your cat medication that has not been prescribed by a veterinarian. If you suspect that your animal has ingested a poisonous substance, call your veterinarian or the ASPCA Animal Poison Control Center for 24-hour animal poison information at (888) 426-4435.</p>

        <h4>Spaying and Neutering</h4>
        <p>Female cats should be spayed and male cats neutered by five months of age. </p>

        <h4>Vaccinations</h4>
        <p>Your veterinarian will make recommendations based on your cat's age and health.</p>

        <h3>Cat Supply Checklist</h3>
        <ul>
            <li>Premium-brand cat food</li>
            <li>Food dish</li>
            <li>Water bowl</li>
            <li>Interactive toys</li>
            <li>Brush</li>
            <li>Comb</li>
            <li>Safety cat collar with ID tag</li>
            <li>Scratching post or scratching pad</li>
            <li>Litter box and litter</li>
            <li>Cat carrier</li>
            <li>Cat bed or box with warm blanket or towel</li>
        </ul>
    </main>






    <%- include('footer') %>








</body>
</html>
